{% extends "base.html" %}

{% block page_title %}
<h1>Vegan Recipes</h1>
{% endblock page_title  %}

{% block intro %}
  <p>
    Vegan recipes composed entirely of plant-based ingredients and built around a diverse range of foods including fruits,
    vegetables, grains, legumes, nuts, and seeds. These recipes help you create meals that are rich, satisfying, and innovative, 
    ranging from grain bowls and stir-fries to burgers and dairy-free desserts. 
  </p>
{% endblock intro %}

 {% block main_section%}
  <section class="recipe-section container py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Recipe Categories</h2>
        <div class="recipes row">  

            {% for item in categories %}
                {% set category = item[1] %}
                {% set category_route = item[1] | lower %}
                {% set card_image = item[2] %}
                {% set category_text = item[3] %}
                {% include "./includes/recipe_category_cards.html" %}
              {% endfor %}

        </div>
  </section>
  {% endblock main_section %}
