{% extends "base.html" %}

{% block recipes_type_h1 %}
<h1>{{recipe_info[1]}}</h1>
{% endblock  %}

{% block intro_paragraph %}
            <p>
                {{recipe_info[2]}}
            </p>
<div class="container mb-5">
    <div class="servings-details row mb-5 py-3">
        <div class="col-sm-12 col-md-6 col-lg-3" style="height: 100%;">
            <p class="mb-0">
                Prep Time: {{recipe_info[3]}} minutes
            </p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3" style="height: 100%;">
            <p class="mb-0">
                Cook Time: {{recipe_info[4]}} minutes
            </p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3" style="height: 100%;">
            <p class="mb-0">
                Total Time: {{recipe_info[3] + recipe_info[4]}}  minutes
            </p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3" style="height: 100%;">
            <p class="mb-0">
                Make:  servings
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-4 mb-3 d-flex justify-content-center align-items-start">
        <div class="details-card card px-0 ">
            <div class="details-card-header card-header">
                <h3>Ingredients</h3>
            </div>
            <ul class="list-group list-group-flush text-start">
                {% for ingredient in ingredients %}
                <li class="list-group-item">{{ ingredient[0] }} {{ ingredient[1] }} {{ ingredient[2] }}</li>
                {% endfor %}
            </ul>
        </div>
        </div>

        <div class="col-sm-12 col-md-7 col-lg-8 mb-3 d-flex justify-content-center align-items-start">
        <div class="details-card card px-0">
            <div class="details-card-header card-header">
                <h3>Instructions</h3>
            </div>
            <ol class="list-group list-group-flush  list-group-numbered text-start">
                {% for step in instructions %}
                <li class="list-group-item"> {{ step[1] }}</li>
                {% endfor %}
            </ol>

                        {#<ol>
                {% for step in instructions %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol> #}
        </div>
        </div>
    </div>
        <div class="other-details row mb-5 py-3">
        <div class="col" style="height: 100%;">
            <p class="mb-0">
                Author: {{recipe_info[5]}}
            </p>
        </div>
        
    </div>
</div>





{% endblock %}


